---
import { Image } from 'astro:assets';
import fgeNewLogoBlanco from '../images/fgeNewLogoBlanco.svg';
---


<footer class=" py-8 bg-gray-100 border-t border-gray-100" style="background: #4c4890;"> 
    <div class="max-w-screen-xl mx-auto px-5"> 
        <div class="grid grid-cols-2 gap-8"> 
            <div class=""> 
                <a class="text-2xl font-bold text-violet-600 " href="/">
                    <Image src={fgeNewLogoBlanco} alt='Fundación Gestionar Esperanzas' width={150} />
                </a> 
                <p class="mt-4 text-sm text-white max-w-xs">
                    Tu tiempo y dedicación pueden cambiar su futuro.
                </p> 
            </div> 
            <div class="flex gap-3 mt-4 justify-end items-end"> 
                <a href="http://twitter.com/fgestionar" target="_blank" rel="noopener noreferrer" class="bg-gray-50 hover:bg-gray-300 rounded-2xl w-6 h-6 inline-flex items-center justify-center text-indigo-600"> <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M18.205 2.25h3.308l-7.227 8.26l8.502 11.24H16.13l-5.214-6.817L4.95 21.75H1.64l7.73-8.835L1.215 2.25H8.04l4.713 6.231zm-1.161 17.52h1.833L7.045 4.126H5.078z"/></svg> <span class="sr-only">Twitter or X</span></a> 
                <a href="https://www.facebook.com/FundacionGestionarEsperanzas/" target="_blank" rel="noopener noreferrer" class="bg-gray-50 hover:bg-gray-300 rounded-2xl w-6 h-6 inline-flex items-center justify-center text-indigo-600"> <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M22 12c0-5.52-4.48-10-10-10S2 6.48 2 12c0 4.84 3.44 8.87 8 9.8V15H8v-3h2V9.5C10 7.57 11.57 6 13.5 6H16v3h-2c-.55 0-1 .45-1 1v2h3v3h-3v6.95c5.05-.5 9-4.76 9-9.95"/></svg><span class="sr-only">Facebook</span></a> 
                <a href="https://www.youtube.com/channel/UCVZ3yrl20ROCNXBmGZ3a3Og?view_as=subscriber" target="_blank" rel="noopener noreferrer" class="bg-gray-50 hover:bg-gray-300 rounded-2xl w-6 h-6 inline-flex items-center justify-center text-indigo-600"> <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><g fill="none" fill-rule="evenodd"><path d="M24 0v24H0V0zM12.593 23.258l-.011.002l-.071.035l-.02.004l-.014-.004l-.071-.035c-.01-.004-.019-.001-.024.005l-.004.01l-.017.428l.005.02l.01.013l.104.074l.015.004l.012-.004l.104-.074l.012-.016l.004-.017l-.017-.427c-.002-.01-.009-.017-.017-.018m.265-.113l-.013.002l-.185.093l-.01.01l-.003.011l.018.43l.005.012l.008.007l.201.093c.012.004.023 0 .029-.008l.004-.014l-.034-.614c-.003-.012-.01-.02-.02-.022m-.715.002a.023.023 0 0 0-.027.006l-.006.014l-.034.614c0 .012.007.02.017.024l.015-.002l.201-.093l.01-.008l.004-.011l.017-.43l-.003-.012l-.01-.01z"/><path fill="currentColor" d="M12 4c.855 0 1.732.022 2.582.058l1.004.048l.961.057l.9.061l.822.064a3.802 3.802 0 0 1 3.494 3.423l.04.425l.075.91c.07.943.122 1.971.122 2.954c0 .983-.052 2.011-.122 2.954l-.075.91c-.013.146-.026.287-.04.425a3.802 3.802 0 0 1-3.495 3.423l-.82.063l-.9.062l-.962.057l-1.004.048A61.59 61.59 0 0 1 12 20a61.59 61.59 0 0 1-2.582-.058l-1.004-.048l-.961-.057l-.9-.062l-.822-.063a3.802 3.802 0 0 1-3.494-3.423l-.04-.425l-.075-.91A40.662 40.662 0 0 1 2 12c0-.983.052-2.011.122-2.954l.075-.91c.013-.146.026-.287.04-.425A3.802 3.802 0 0 1 5.73 4.288l.821-.064l.9-.061l.962-.057l1.004-.048A61.676 61.676 0 0 1 12 4m-2 5.575v4.85c0 .462.5.75.9.52l4.2-2.425a.6.6 0 0 0 0-1.04l-4.2-2.424a.6.6 0 0 0-.9.52Z"/></g></svg><span class="sr-only">Linkedin</span></a> 
                <a href="https://www.instagram.com/fundaciongestionar/" target="_blank" rel="noopener noreferrer" class="bg-gray-50 hover:bg-gray-300 rounded-2xl w-6 h-6 inline-flex items-center justify-center text-indigo-600"> <svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24"><path fill="currentColor" d="M13.028 2c1.125.003 1.696.009 2.189.023l.194.007c.224.008.445.018.712.03c1.064.05 1.79.218 2.427.465c.66.254 1.216.598 1.772 1.153a4.908 4.908 0 0 1 1.153 1.772c.247.637.415 1.363.465 2.428c.012.266.022.487.03.712l.006.194c.015.492.021 1.063.023 2.188l.001.746v1.31a78.831 78.831 0 0 1-.023 2.188l-.006.194c-.008.225-.018.446-.03.712c-.05 1.065-.22 1.79-.466 2.428a4.883 4.883 0 0 1-1.153 1.772a4.915 4.915 0 0 1-1.772 1.153c-.637.247-1.363.415-2.427.465a72.11 72.11 0 0 1-.712.03l-.194.006c-.493.014-1.064.021-2.189.023l-.746.001h-1.309a78.43 78.43 0 0 1-2.189-.023l-.194-.006a63.036 63.036 0 0 1-.712-.031c-1.064-.05-1.79-.218-2.428-.465a4.889 4.889 0 0 1-1.771-1.153a4.904 4.904 0 0 1-1.154-1.772c-.247-.637-.415-1.363-.465-2.428a74.1 74.1 0 0 1-.03-.712l-.005-.194A79.047 79.047 0 0 1 2 13.028v-2.056a78.82 78.82 0 0 1 .022-2.188l.007-.194c.008-.225.018-.446.03-.712c.05-1.065.218-1.79.465-2.428A4.88 4.88 0 0 1 3.68 3.678a4.897 4.897 0 0 1 1.77-1.153c.638-.247 1.363-.415 2.428-.465c.266-.012.488-.022.712-.03l.194-.006a79 79 0 0 1 2.188-.023zM12 7a5 5 0 1 0 0 10a5 5 0 0 0 0-10m0 2a3 3 0 1 1 .001 6a3 3 0 0 1 0-6m5.25-3.5a1.25 1.25 0 0 0 0 2.5a1.25 1.25 0 0 0 0-2.5"/></svg><span class="sr-only">Instagram</span></a>
            </div> 
        </div> 
    </div> 
    <div class="mt-14 pt-8 px-5 border-t border-slate-200"> 
        <div class="max-w-screen-xl mx-auto px-5"> 
            <p class="text-center text-sm text-gray-50 [text-wrap:balance]">
            Copyright © 2024 FGE. All rights reserved.
            </p> 
            <p class="text-center text-xs text-gray-50 mt-2"> 
                <a href="/terms" class="hover:text-indigo-400"> Terms</a> ・ <a href="/privacy" class="hover:text-indigo-400">
                Privacy</a> </p> 
        </div> 
    </div> 
</footer>