---
import ImageGiro from "./ImageGiro.astro";
---

<div class="w-full">
    <div class="mx-auto max-w-full-xl">
        <div class="grid gap-0 lg:grid-cols-2 lg:gap-0">
            <div class="relative">
                <iframe src="https://www.google.com/maps/d/embed?mid=1snAQQDmYvrNqwWXf04swmfZKjdFSNUA&ehbc=2E312F" width="100%" height="480"></iframe>
            </div>

            <div class="bg-green-500 px-10 lg:px-32 py-10">
                <div class="container-giro flex justify-end">
					<ImageGiro image='/images/splash-blanco.svg' width={70} height={70} />
				</div>
                <h2 class="mb-8 text-left text-3xl sm:text-3xl md:text-4xl lg:text-5xl font-bold text-gray-50">Red Gestionar</h2>
                <p class="font-bold text-gray-50 md:text-left">Somos un equipo que cree y trabaja construyendo un futuro sustentable e inclusivo.</p>
                <p class="text-gray-50 md:text-left">La inclusión social y el desarrollo humano y comunitario de niños y familias en situación de vulnerabilidad son los ejes transversales de nuestras actividades.</p>
                <br>
                <a href="#" class=" w-60 md:w-96 inline-block rounded-[50px] bg-cyan-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-cyan-300 transition duration-100 hover:bg-cyan-600 focus-visible:ring active:bg-cyan-700 md:text-base">Ver todas las Organizaciones</a>
            </div>
        </div>
    </div>
</div>