---

---

<div id="gallery" class="flex">
	<div id="left" class="hidden md:block md:w-1/2 lg:w-1/2">
		<div id="desktopContent" class="m-auto">
			<div id="sector1" class="desktopContentSection" style="background-color: #69b5cb;">

				<h2>Formalizamos | Programa de fortalecimiento de organizaciones comunitarias</h2>
				<button data-fancybox data-src="#dialog-content-1">Más info ...</button>
				<div id="dialog-content-1" class="hidden max-w-[1140px]">
					<div class="flex justify-between">
						<div class="w-1/2">
					<p>Estamos convencidos de que la formalización es una estrategia fundamental para potenciar el trabajo de las organizaciones comunitarias.</p>
					<p>Durante todo nuestro recorrido hemos conocido organizaciones que trabajan incansablemente, de manera comprometida y usualmente, con pocos e improvisados recursos. Encontramos que gran parte de las barreras para crecer, desarrollarse, articular con otros, planificar y sostenerse en el tiempo, se encuentra en la informalidad.</p>
					<p>A través del programa de formalización, acompañamos a las organizaciones comunitarias en la conformación de equipos directivos, en la definición de sus valores institucionales y en la gestión de trámites administrativos para que puedan inscribirse formalmente ante los entes reguladores. De esta manera, para las organizaciones se abren nuevas oportunidades para articular con organismos públicos y privados, a recibir donaciones, tramitar exenciones.</p>
					<p>Se abren nuevas oportunidades para gestionar de manera más transparente y efectiva.</p>
						</div>
						<div class="w-1/2">
							<img src="/images/scrollbox/Formalizamos.jpg" />
						</div>
					</div>
				</div>

			</div>
			<div id="sector2" class="desktopContentSection" style="background-color: #e8296f;">
				<h2>Referentes al frente | Programa de fortalecimiento de liderazgos comunitarios</h2>
				<button data-fancybox data-src="#dialog-content-2">Más info ...</button>
				<div id="dialog-content-2" class="hidden max-w-[500px]">
					<p>Estamos convencidos de que los liderazgos potencian el trabajo de las organizaciones y que las organizaciones comunitarias transforman realidades.</p>
					<p>El programa Referentes al Frente surge de la convicción de que los liderazgos territoriales son un pilar fundamental de las organizaciones comunitarias que generan un impacto positivo en su comunidad.

					<p>Durante el transcurso del programa, los referentes adquieren herramientas de gestión y liderazgo; aprenden en red con otros y reciben un acompañamiento personalizado para afianzarse a sí mismo como generadores de cambio (que incluye, acceso a la salud y acompañamiento psicológico). </p>
				</div>
			</div>
			<div id="sector3" class="desktopContentSection" style="background-color: #4c4890;">

				<h2>Una Vuelta + | Proyectos sustentables que agregan valor comunitario</h2>
				<button data-fancybox data-src="#dialog-content-3">Más info ...</button>
				<div id="dialog-content-3" class="hidden max-w-[500px]">
					<p>Estamos convencidos de que la realidad nos motiva a ser creativos y buscar crear valor donde todavía no lo vemos. Crear valor para transformar.</p>
					<p>El proyecto "Una Vuelta +" surge como oportunidad de abordar la problemática medioambiental generada por las campañas publicitarias de consumo masivo y transformarla en una herramienta de verdadera inclusión social, transformando los materiales desechables en productos de calidad, evitando que comiencen su largo proceso de degradación y descomposición contaminando los suelos.</p>

					<b>NUESTROS PILARES:</b>
					<ol>
						<li>La economía circular.</li>
						<li>La conciencia ambiental.</li>
						<li>La conciencia ambiental.</li>
						<li>La innovación permanente.</li>
						<li>La generación de empleo.</li>
						<li>El desarrollo social de las comunidades más vulnerables.</li>
					</ol>
					<br/>
					<p>El reciclado y la reutilización de los materiales generan trabajo, integran e impactan positivamente en las comunidades más vulnerables. </p>
					<a class=" elementor-button-link elementor-button elementor-size-sm elementor-animation-pop" style="background-color: #e06330; border-radius: 50px 50px 50px 50px;" href="https://youtu.be/4Pplp7dN-Qo" data-fancybox="">
	<span class="elementor-button-text">VER CASO NATURA <i class="far fa-play-circle"></i></span>
	</a>
				</div>

			</div>
			<div id="sector4" class="desktopContentSection" style="background-color: #61a76e;">
				<h2>Espacios con Valor | Programa de mejoramiento de infraestructura de espacios comunitarios</h2>
				<button data-fancybox data-src="#dialog-content-4">Más info ...</button>
				<div id="dialog-content-4" class="hidden max-w-[500px]">
					<p>Estamos convencidos de que los espacios comunitarios promueven valores comunitarios, potenciarlos es nuestra forma de agregar valor a las comunidades.</p>
					<p>Un espacio comunitario es aquel en el cual se cimientan valores, donde la comunidad se reúne, donde los niños aprenden y se despliegan, donde los jóvenes comienzan su vida adulta. Son lugares creados por la comunidad para promover oportunidades: centros comunitarios, centros culturales, comedores y merenderos, centros de oficios, espacios deportivos.

	Acompañamos a las organizaciones comunitarias en la planificación y gestión de recursos de obras de mejoramiento y readecuación de sus espacios, para que puedan fortalecer el marco donde desarrollan las actividades.</p>

					<b>PROYECTOS 2022</b>
					<ul>
						<li>LO DE CATA: Acompañamos la construcción de un nuevo espacio en el centro comunitarios para dar talleres de oficio, merienda y cena a más de 75 familias. FINALIZADO</li>
						<li>LA NONA: Estamos trabajando para construir un espacio propio para que Vivi pueda seguir brindando apoyo escolar y talleres para los niños, jóvenes y adultos. EN PROYECTO.</li>
					</ul>
				</div>
			</div>
			<div id="sector5" class="desktopContentSection" style="background-color: #69b5cb;">

				<h2>Asistencia Alimentaria | Campaña de donación de alimentos a comedores y merenderos</h2>
				<button data-fancybox data-src="#dialog-content-5">Más info ...</button>
				<div id="dialog-content-5" class="hidden max-w-[500px]">
					<p>Somos muchos los que buscamos transformar la realidad de las personas más vulnerables. Acompañamos a comedores y merenderos en la provisión de alimentos para los que menos tienen.</p>
					<p>La crisis económica nos impacta a todos, pero hay familias enteras que dependen de comedores y merenderos para alimentarse. Junto al apoyo de donantes, voluntarios e instituciones buscamos acompañarlos en la provisión de alimentos para nutrirse y poder hacer frente a sus realidades. </p>
				</div>

			</div>
		</div>
	</div>

	<div id="right" class="w-full md:w-1/2 lg:w-1/2 flex justify-center md:justify-normal lg:justify-normal">

		<!-- mobile content -->
		<div class="md:hidden w-[80vw] block">
			<div class="w-[80vw] h-[80vw] mt-[5em] rounded-[6vw] qh-1"></div>
			<h2>Formalizamos | Programa de fortalecimiento de organizaciones comunitarias</h2>
				<p>Estamos convencidos de que la formalización es una estrategia fundamental para potenciar el trabajo de las organizaciones comunitarias.</p>

			<div class="w-[80vw] h-[80vw] mt-[5em] rounded-[6vw] qh-2"></div>
			<h2>Referentes al frente | Programa de fortalecimiento de liderazgos comunitarios</h2>
				<p>Estamos convencidos de que los liderazgos potencian el trabajo de las organizaciones y que las organizaciones comunitarias transforman realidades.</p>

			<div class="w-[80vw] h-[80vw] mt-[5em] rounded-[6vw] qh-3"></div>
			<h2>Una Vuelta + | Proyectos sustentables que agregan valor comunitario</h2>
				<p>Estamos convencidos de que la realidad nos motiva a ser creativos y buscar crear valor donde todavía no lo vemos. Crear valor para transformar.</p>

			<div class="w-[80vw] h-[80vw] mt-[5em] rounded-[6vw] qh-4"></div>
			<h2>Espacios con Valor | Programa de mejoramiento de infraestructura de espacios comunitarios</h2>
				<p>Estamos convencidos de que los espacios comunitarios promueven valores comunitarios, potenciarlos es nuestra forma de agregar valor a las comunidades.</p>
			
			<div class="w-[80vw] h-[80vw] mt-[5em] rounded-[6vw] qh-5"></div>
			<h2>Asistencia Alimentaria | Campaña de donación de alimentos a comedores y merenderos</h2>
				<p>Somos muchos los que buscamos transformar la realidad de las personas más vulnerables. Acompañamos a comedores y merenderos en la provisión de alimentos para los que menos tienen.</p>
		</div>

		<!-- desktop content -->

		<div class="desktopPhotos">
			<div class="desktopPhoto qh-1"></div>
			<div class="desktopPhoto qh-2"></div>
			<div class="desktopPhoto qh-3"></div>
			<div class="desktopPhoto qh-4"></div>
			<div class="desktopPhoto qh-5"></div>
		</div>

	</div>
</div>


<style>
.desktopContentSection {
	min-height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
    padding: 20px;
    position: relative;
}
.desktopContentSection ol, .desktopContentSection ul {
  margin: 0;
}

.desktopPhotos {
    width:100%;
	height:100vh;
	position:relative;
    margin: 0 auto;
	overflow:hidden;
}
.desktopPhoto {
	position:absolute;
	width:100%;
	height:100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}

.qh-1 {
  background-image: url(/images/scrollbox/Formalizamos.jpg);
}
.qh-2 {
	background-image: url(/images/scrollbox/Referentes-al-Frente.jpg);
}
.qh-3 {
	background-image: url(/images/scrollbox/Una-Vuelta.jpg);
}
.qh-4 {
	background-image: url(/images/scrollbox/espacios-con-valores.jpg);
}
.qh-5 {
	background-image: url(/images/scrollbox/Asistencia-Alimentaria.jpg);
}




/* defines styles for screens up to 599px wide */
@media screen and (max-width: 719px) {
	
	.desktopPhotos {
		display:none;
	}
	.mobileContent {
		display:block;
	}
}

</style>

<script>
    gsap.registerPlugin(ScrollTrigger);
	import gsap from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";



    const details = gsap.utils.toArray(".desktopContentSection:not(:first-child)");
    const photos: any = gsap.utils.toArray(".desktopPhoto:not(:first-child)");
    console.log('photos', photos);
    gsap.set(photos, {yPercent: 100, autoAlpha: 0});

    const allPhotos: any = gsap.utils.toArray(".desktopPhoto");
    console.log('AllPhotos', allPhotos);

    // create
    let mm = gsap.matchMedia();

    // add a media query. When it matches, the associated function will run
    mm.add("(min-width: 720px)", () => {

    // this setup code only runs when viewport is at least 600px wide
    console.log("desktop")
    
    ScrollTrigger.create({
        trigger:"#gallery",
        start:"top 80px",
        end:"bottom bottom",
        pin:"#right"
    })

    details.forEach((detail: any, index) => {
        console.log('forEach', index);
        let headline = detail.querySelector("h2");
        let animation = gsap.timeline()
            .to(photos[index], { yPercent: 0, autoAlpha: 1, duration: 0.8 }) // Muestra la nueva imagen con desvanecimiento
            .to(allPhotos[index], { autoAlpha: 0, duration: 0.5 }, 0.8); // Oculta la imagen anterior después de 0.5 segundos

        ScrollTrigger.create({
            trigger: headline,
            start: "top 80%",
            end: "top 30%",
            animation: animation,
            scrub: true,
            markers: true
        });
    });

    
    return () => { // optional
      // custom cleanup code here (runs when it STOPS matching)
      console.log("mobile")
    };
  });


  

</script>