---


---
<div id="gallery" class="flex overflow-hidden justify-center">
	<div id="left" class="hidden md:block sm:w-1/2 lg:w-1/2">
		<div id="desktopContent" class="m-auto text-white">
			<div id="sector1" class="desktopContentSection" style="background-color: #69b5cb;">
				<h2 class="text-5xl font-bold pb-12">Formalizamos</h2>
				<p class="pb-10"><b>Programa de fortalecimiento de organizaciones comunitarias.</b> <br>
					Estamos convencidos de que la formalización es una estrategia
					fundamental para potenciar el trabajo de las organizaciones
					comunitarias.</p>
				<!-- <button data-fancybox data-src="#dialog-content-1">Más info ...</button> -->
				<a href="#" class=" w-52 inline-block rounded-[50px] bg-pink-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-pink-600 focus-visible:ring active:bg-pink-700 md:text-base">Ver más</a>
			</div>
			<div id="sector2" class="desktopContentSection" style="background-color: #e8296f;">
				<h2 class="text-5xl font-bold pb-12">Referentes al frente</h2>
				<p class="pb-10"><b>Programa de fortalecimiento de organizaciones comunitarias.</b> <br>
					Estamos convencidos de que la formalización es una estrategia
					fundamental para potenciar el trabajo de las organizaciones
					comunitarias.</p>
				<!-- <button data-fancybox data-src="#dialog-content-2">Más info ...</button> -->
				<a href="#" class=" w-52 inline-block rounded-[50px] bg-indigo-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-indigo-600 focus-visible:ring active:bg-indigo-700 md:text-base">Ver más</a>
			</div>
			<div id="sector3" class="desktopContentSection" style="background-color: #4c4890;">
				<h2 class="text-5xl font-bold pb-12">Una vuelta +</h2>
				<p class="pb-10"><b>Programa de fortalecimiento de organizaciones comunitarias.</b> <br>
					Estamos convencidos de que la formalización es una estrategia
					fundamental para potenciar el trabajo de las organizaciones
					comunitarias.</p>
				<!-- <button data-fancybox data-src="#dialog-content-2">Más info ...</button> -->
				<a href="#" class=" w-52 inline-block rounded-[50px] bg-green-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-green-600 focus-visible:ring active:bg-green-700 md:text-base">Ver más</a>
			</div>
			<div id="sector4" class="desktopContentSection" style="background-color: #61a76e;">
				<h2 class="text-5xl font-bold pb-12">Espacios con valor</h2>
				<p class="pb-10"><b>Programa de fortalecimiento de organizaciones comunitarias.</b> <br>
					Estamos convencidos de que la formalización es una estrategia
					fundamental para potenciar el trabajo de las organizaciones
					comunitarias.</p>
				<!-- <button data-fancybox data-src="#dialog-content-2">Más info ...</button> -->
				<a href="#" class=" w-52 inline-block rounded-[50px] bg-cyan-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-cyan-300 transition duration-100 hover:bg-cyan-600 focus-visible:ring active:bg-cyan-700 md:text-base">Ver más</a>
			</div>
			<div id="sector5" class="desktopContentSection" style="background-color: #69b5cb;">

				<h2 class="text-5xl font-bold pb-12">Asistencia alimentaria</h2>
				<p class="pb-10"><b>Programa de fortalecimiento de organizaciones comunitarias.</b> <br>
					Estamos convencidos de que la formalización es una estrategia
					fundamental para potenciar el trabajo de las organizaciones
					comunitarias.</p>
				<!-- <button data-fancybox data-src="#dialog-content-2">Más info ...</button> -->
				<a href="#" class=" w-52 inline-block rounded-[50px] bg-pink-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-pink-600 focus-visible:ring active:bg-indigo-700 md:text-base">Ver más</a>
			</div>
		</div>
	</div>

	<div id="right" class="md:h-lvh w-10/12 sm:w-10/12 md:w-1/2 flex justify-center md:justify-normal lg:justify-normal">

		<!-- mobile content -->
		<div class="md:hidden w-full block">
			<div class=" text-white p-5 rounded-[1vw] relative mb-5" style="background-color: #69b5cb;">
				<div class=" w-auto h-[50vw] rounded-[2vw] bg-cover qh-1"></div>
				<h2 class=" pt-5">Formalizamos | Programa de fortalecimiento de organizaciones comunitarias</h2>
				<p>Estamos convencidos de que la formalización es una estrategia fundamental para potenciar el trabajo de las organizaciones comunitarias.</p>
			</div>
			
			<div class=" text-white p-5 rounded-[1vw] relative mb-5" style="background-color: #e8296f;">
				<div class="w-auto h-[50vw] rounded-[2vw] mobilePhoto qh-2"></div>
				<h2 class=" pt-5">Referentes al frente | Programa de fortalecimiento de liderazgos comunitarios</h2>
				<p>Estamos convencidos de que los liderazgos potencian el trabajo de las organizaciones y que las organizaciones comunitarias transforman realidades.</p>
			</div>

			<div class=" text-white p-5 rounded-[1vw] relative mb-5" style="background-color: #4c4890;">
				<div class="w-auto h-[50vw] rounded-[2vw] mobilePhoto qh-3"></div>
				<h2 class=" pt-5">Una Vuelta + | Proyectos sustentables que agregan valor comunitario</h2>
				<p>Estamos convencidos de que la realidad nos motiva a ser creativos y buscar crear valor donde todavía no lo vemos. Crear valor para transformar.</p>
			</div>

			<div class=" text-white p-5 rounded-[1vw] relative mb-5" style="background-color: #61a76e;">
				<div class="w-auto h-[50vw] rounded-[2vw] mobilePhoto qh-4"></div>
				<h2 class=" pt-5">Espacios con Valor | Programa de mejoramiento de infraestructura de espacios comunitarios</h2>
				<p>Estamos convencidos de que los espacios comunitarios promueven valores comunitarios, potenciarlos es nuestra forma de agregar valor a las comunidades.</p>
			</div>
			
			<div class=" text-white p-5 rounded-[1vw] relative mb-5" style="background-color: #69b5cb;">
				<div class="w-auto h-[50vw] rounded-[2vw] mobilePhoto qh-5"></div>
				<h2 class=" pt-5">Asistencia Alimentaria | Campaña de donación de alimentos a comedores y merenderos</h2>
				<p>Somos muchos los que buscamos transformar la realidad de las personas más vulnerables. Acompañamos a comedores y merenderos en la provisión de alimentos para los que menos tienen.</p>
			</div>
		</div>

		<!-- desktop content -->

		<div class="hidden md:block w-screen h-screen relative overflow-hidden mx-auto my-0">
			<div class="desktopPhoto qh-1"></div>
			<div class="desktopPhoto qh-2"></div>
			<div class="desktopPhoto qh-3"></div>
			<div class="desktopPhoto qh-4"></div>
			<div class="desktopPhoto qh-5"></div>
		</div>

	</div>
</div>


<style>
/* .right {
	height:100vh;
} */
.desktopContentSection {
	min-height:100vh;
	display:flex;
	flex-direction:column;
	justify-content:center;
    padding: 20px 40px;
    position: relative;
}
.desktopContentSection ol, .desktopContentSection ul {
  margin: 0;
}
.desktopPhoto {
	position:absolute;
	width:100%;
	height:100%;
    background-position: top center;
    background-repeat: no-repeat;
    background-size: cover;
}
.mobilePhoto {
	background-size: cover;
}

.qh-1 {
  background-image: url(/images/scrollbox/Formalizamos.jpg);
}
.qh-2 {
	background-image: url(/images/scrollbox/Referentes-al-Frente.jpg);
}
.qh-3 {
	background-image: url(/images/scrollbox/Una-Vuelta.jpg);
}
.qh-4 {
	background-image: url(/images/scrollbox/espacios-con-valores.jpg);
}
.qh-5 {
	background-image: url(/images/scrollbox/Asistencia-Alimentaria.jpg);
}

</style>

<script>
    gsap.registerPlugin(ScrollTrigger);
	import gsap from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";

	let scrollBoxTriggers:any = []; // Guardar referencias a los ScrollTriggers del otro componente

	// Ejecutar la función setupSidebar() cada vez que ocurre una transición de página
	function initializeScrollBox() {

		const details = gsap.utils.toArray(".desktopContentSection:not(:first-child)");
		const photos = gsap.utils.toArray(".desktopPhoto:not(:first-child)");
		//console.log('photos', photos);
		gsap.set(photos, {yPercent: 100, autoAlpha: 0});

		const allPhotos = gsap.utils.toArray(".desktopPhoto");
		//console.log('AllPhotos', allPhotos);

		// create
		let mm = gsap.matchMedia();

		// add a media query. When it matches, the associated function will run
		mm.add("(min-width: 720px)", () => {

			// this setup code only runs when viewport is at least 720px wide
			//console.log("desktop")
			
			ScrollTrigger.create({
				trigger:"#gallery",
				start:"top 70px",
				end:"bottom bottom",
				pin:"#right",
			})

			details.forEach((detail, index) => {
				//console.log('forEach', index);
				//@ts-ignore
				let headline = detail.querySelector("h2");
				let animation = gsap.timeline()
					//@ts-ignore
					.to(photos[index], { yPercent: 0, autoAlpha: 1, duration: 0.8 }) //@ts-ignore // Muestra la nueva imagen con desvanecimiento
					.to(allPhotos[index], { autoAlpha: 0, duration: 0.5 }, 0.8); // Oculta la imagen anterior después de 0.5 segundos

					let trigger = ScrollTrigger.create({
					trigger: headline,
					start: "top 80%",
					end: "top 30%",
					animation: animation,
					scrub: true,
					markers: true
				});
				scrollBoxTriggers.push(trigger);
			});

			
			return () => { // optional
			// custom cleanup code here (runs when it STOPS matching)
				//@ts-ignore
				scrollBoxTriggers.forEach(trigger => trigger.kill());
                scrollBoxTriggers = [];
			};
		});

	}

	// Listener para cargar el componente en la transición de página
    document.addEventListener('astro:page-load', () => {
        initializeScrollBox();
    });

</script>