---
import HomeLayout from '../../layouts/HomeLayout.astro';
import ScrollBox from '../../components/ScrollBox.astro';
import { BreadcrumbsDefault } from '../../components/breadcrumbs';
import {SliderHome} from '../../components/slider-home.tsx';
import LastNews from '../../components/LastNews.astro';
import ImageGiro from '../../components/ImageGiro.astro';
import MapRed from '../../components/MapRed.astro';
import Impacto from '../../components/Impacto.astro';
import VaViene from '../../components/VaViene.astro';

---

<HomeLayout>

	<SliderHome 
	client:load 
	s1_title ='Contamos con vos para abrigar nuestro futuro' 
	s1_description ='Te invitamos a revisar tus roperos y a donar mantas, frazadas, ropa de abrigo, bufandas y otras prendas y calzados.' 
	s1_button ='QUIERO SER VOLUNTARIO' 
	s2_title ='Tu tiempo y dedicación pueden cambiar su futuro' 
	s2_description ='Tu tiempo puede cambiar su futuro. Sé parte de un equipo comprometido con la educación, brinda apoyo escolar a los niños que más lo necesitan.' 
	s2_button ='QUIERO DONAR' 
	/>

	<!-- <BreadcrumbsDefault 
	client:only="react"
	home= "inicio"
	page= " "
	subpage= " "
	/> -->


	<div class=" w-full bg-white py-6 sm:py-8 lg:py-12">
		<div class="mx-auto max-w-full-xl px-4 md:px-8">
		  <div class="grid gap-8 md:grid-cols-2 lg:gap-12">
			<div class="relative">
			  <div class="overflow-hidden h-auto">
				<!-- <img src="https://images.unsplash.com/photo-1610465299996-30f240ac2b1c?auto=format&q=75&fit=crop&w=600&h=750" loading="lazy" alt="Photo by Martin Sanchez" class="h-full w-full object-cover object-center" /> -->
				<h1 class="mb-4 text-center text-3xl sm:text-3xl md:text-4xl lg:text-5xl font-bold text-green-500 md:mb-6 md:text-right">Quiénes Somos</h1>
			  </div>
			  <div class="">
				<img src="/images/corazones.svg" alt="">
			  </div>
			</div>
	  
			<div class="md:pt-8 lg:pr-40">
				<p class="font-bold text-green-500 md:text-left">Somos un equipo que cree y trabaja construyendo un futuro sustentable e inclusivo.</p>
		
				<p class="mb-6 text-gray-500 sm:text-lg md:mb-8">	  
					La inclusión social y el desarrollo humano y comunitario de niños y familias en situación de vulnerabilidad son los ejes transversales de nuestras actividades.
				</p>

				<div class="flex justify-start gap-2">
					<a href="#" class="inline-block rounded-lg bg-green-500 px-8 py-3 text-center text-sm font-semibold text-white outline-none ring-indigo-300 transition duration-100 hover:bg-green-600 focus-visible:ring active:bg-green-700 md:text-base">Quiero ser voluntario</a>
				</div>

				<div class="container-giro flex justify-end">
					<ImageGiro image='/images/splash.svg' width={70} height={70} />
				</div>

			</div>
		  </div>
		</div>
	</div>


	<ScrollBox />

	<div class="container-giro relative z-0">
		<div class="absolute top-10 left-20">
			<ImageGiro image='/images/cuad.svg' width={210} height={210} />
		</div>
	</div>

	<LastNews title='Noticias' />

	<MapRed />

	<Impacto title='Nuestro Impacto' />


</HomeLayout>



