---
import HomeLayout from '../../layouts/HomeLayout.astro';
import ScrollBox from '../../components/ScrollBox.astro';
import MyApp from '../../components/react-test';
import { BreadcrumbsDefault } from '../../components/breadcrumbs';
import {SliderHome} from '../../components/slider-home';
---

<HomeLayout>

	<SliderHome 
	client:load 
	s1_title ='Contamos con vos para abrigar nuestro futuro' 
	s1_description ='Te invitamos a revisar tus roperos y a donar mantas, frazadas, ropa de abrigo, bufandas y otras prendas y calzados.' 
	s1_button ='QUIERO SER VOLUNTARIO' 
	s2_title ='Tu tiempo y dedicación pueden cambiar su futuro' 
	s2_description ='Tu tiempo puede cambiar su futuro. Sé parte de un equipo comprometido con la educación, brinda apoyo escolar a los niños que más lo necesitan.' 
	s2_button ='QUIERO DONAR' 
	/>

	<BreadcrumbsDefault 
	client:only="react"
	home= "inicio"
	page= " "
	subpage= " "
	/>

	

	<MyApp />
	

	<ScrollBox />

	<h1>hola</h1>

</HomeLayout>
