---
import { ViewTransitions } from 'astro:transitions';
import { type CollectionEntry } from 'astro:content';
import { getLangFromUrl } from '../i18n/utils';
import Header from "../components/Header.astro";

type Props = CollectionEntry<"blog">["data"];
const {} = Astro.props;

const lang = getLangFromUrl(Astro.url);

---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>Fundación Gestionar Esperanzas</title>
		<ViewTransitions />
	</head>
<body>

    <Header />

    <main>

        <slot />

    </main>
    
</body>
</html>