---
import BaseHead from '../components/BaseHead.astro';
import { getLangFromUrl } from '../i18n/utils';
import Header from "../components/Header.astro";


const lang = getLangFromUrl(Astro.url);

---

<!DOCTYPE html>
<html lang={lang}>
	<head>
		<BaseHead title='FGE' description='Sitio de la fundación' />
	</head>
<body>

    <Header />
	 
    <main >
        
        <slot />

    </main>

    <script is:inline src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.0/flowbite.min.js"></script>

</body>
</html>

<script>
    gsap.registerPlugin(ScrollTrigger);
	import gsap from "gsap";
	import { ScrollTrigger } from "gsap/ScrollTrigger";
    import Lenis from 'lenis';

    // smooth scroll
    const lenis = new Lenis();

    lenis.on('scroll', (e:any) => {
        console.log(e);
    });

    lenis.on('scroll', ScrollTrigger.update);

    gsap.ticker.add((time)=>{
        lenis.raf(time * 500)
    });

    gsap.ticker.lagSmoothing(0);
</script>